#login_form {
  margin-top: 30px;
}

#login_button_2 {
  margin-top: -20px;
  width: 10%;
  font-size: 120%;
}

.btn {
  margin-left: 10px;
}

#buttons {
  margin-top: 50px;
}

#login_content {
  margin-top: 30px;
  margin-left: 30%;
}

#instr {
  font-size: 15px;
}

#instr2 {
  font-size: 15px;
  padding: 15px;
}

#tooltip {
  position: relative;
  display: inline-block;
  font-family: Arial;
  font-size: 25px;
  color: black
}

#tooltiptext {
  visibility: hidden;
  width: 75%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 100%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

#tooltip #tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 5px;
  border-style: solid;
  margin-left: -100px;
  border-color: #555 transparent transparent transparent;
}

#tooltip:hover #tooltiptext {
  visibility: visible;
  opacity: 1;
}